---
import Layout from "@layouts/Layout.astro";
import BrandLayer from "@sections/homepage/BrandLayer.astro";
import HomeHeader from "@sections/homepage/HomeHeader.astro";
import HomeHero from "@sections/homepage/HomeHero.astro";
import HomeProjects from "@sections/homepage/HomeProjects.astro";
import HomeAbout from "@sections/homepage/HomeAbout.astro";
import HomeTimeline from "@sections/homepage/HomeTimeline.astro";
import HomePurchase from "@sections/homepage/HomePurchase.astro";
import HomeContact from "@sections/homepage/HomeContact.astro";
import SiteFooter from "@components/layout/SiteFooter.astro";
---

<Layout>
  <BrandLayer />
  <HomeHeader />
  <main id="main" class="homepage-flow overflow-x-hidden">
    <HomeHero />
    <HomeProjects />
    <HomeAbout />
    <HomeTimeline />
    <HomePurchase />
    <HomeContact />
  </main>

  <SiteFooter />
</Layout>

